
.serchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.inputSerch{
    width: 80%;
    height: 30%;
    border-radius: 12%;
    border: none;
    text-align: center;
}

.searchBtn{
    height: 50px;
    width: 20%;
    /* background-color: aliceblue; */
    border-radius: 40%;
    /* display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; */
}